.main {
  padding: 60px 5%;
  max-width: 1000px;
  margin: 0 auto;
}

.pageHeader {
  margin-bottom: 32px;
}

.pageTitle {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.3px;
  margin-bottom: 8px;
}

.pageSubtitle {
  font-size: 15px;
  color: #9c9a93;
}
